version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:     
      - database
    command: bin/rails server --port 3000 --binding 0.0.0.0
    ports:
      - "3000:3000"
    volumes:
      - .:/watch-rails
    env_file: .env
    environment:
      RAILS_ENV: development

  database:
    image: postgres:latest
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes: 
  db_data: